* {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
/************************* NAV BAR ***************************/
.nav {
  align-items: center;
  background-color: #000000;
  position: relative;
  margin: 0px 350px;
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav h1 {
  margin-left: 20px;
  color: #eee;
  font-size: 30px;
}
.feed {
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin: 10px;
}
/************************* MAIN BOX ***************************/
.main {
  display: flex;
  justify-content: center;
  align-items: column-reverse;
  margin-top: 10px;
}

/************************* MAIN BOX 1 ***************************/
.avatar {
  border: solid 3px #000000;
  width: 160px;
  height: 250px;
  padding: 10px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 80px;
  height: auto;
}
.avatar img {
  margin-top: 20px;
}

.avatar a {
  margin: 35px 0px;
  font-size: large;
}
.avatar h2 {
  font-size: 28px;
}
/************************* MAIN BOX 2 ***************************/

.person-box {
  margin-bottom: 20px;
  margin-right: 17px;
  border: solid 3px #000000;
  width: 440px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 125px;
}
.person-box h2 {
  margin-top: 10px;
}
.likes {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.plur {
  margin-top: 10px;
  font-size: 5px;
}
em {
  margin-left: 130px;
}
.diff {
  margin-right: 20px;
}
.diff2 {
  margin-left: 140px;
}
#main button {
  font-size: smaller;
  width: 80px;
  height: 30px;
  background-color: #fcd83aec;
  color: #000000;
  border: 3px #303030;
  box-shadow: 2px 2px 0px 3px #000000;
  margin-bottom: 10px;
}
.desc-box {
  margin-top: 30px;
  margin-right: 20px;
}
